#app {
  height: 100%;
  color: #333;
  touch-action: none;
}
.konvajs-content{
  margin-top:-50px;
  background:white;
}
.run-simulation{
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;
  width:80px;
  border-radius: 4px;
  padding: 4px;
  text-align:center;
  color: white;
  font-size: 1.4em;
  z-index: 2;
  position:relative;

  &.running{
    border: 2px solid darkgreen;
    background: darkgreen;
  }
  &.stopped{
    border: 2px solid maroon;
    background: maroon;
  }
}