.challengeStatus {
  position: absolute;
  top: 10px;
  left: 120px;
  pointer-events: none;

  h3 {
    color: #333;
    font-weight: 600;
    font-size: 30px;
  }

  h4 {
    text-align: center;
    color: #ccc;
    font-weight: 500;
    font-size: 35px;
    line-height: 25px;
  }

  .dark {
    color: #333;
  }
}
