.stepChangeMessage {
  text-align: center;
}

.stepChangeMessage h5 {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-top: 4px;
}

.stepChangeMessage-enter {
  opacity: 0.01;
}

.stepChangeMessage-enter.stepChangeMessage-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.stepChangeMessage-exit {
  opacity: 1;
}

.stepChangeMessage-exit.stepChangeMessage-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
